<div class="app-body" (window:resize)="onResize($event)">
  <h1>{{ title }}</h1>
  <h2>Change responsive css to: {{ (responsiveType$ | async).responsiveCSS }}</h2>
  <h2>Change responsive css to: {{ (responsiveCSS$ | async) }}</h2>
  <h2>Change responsive break point to: {{ (responsiveBreakPoint$ | async) }}</h2>
  <h2>Change responsive enum to: {{ responsiveEnumAsString }} ({{ responsiveEnum }})</h2>

  <!-- <app-header></app-header> -->
  <router-outlet></router-outlet>
  <!-- <app-footer></app-footer> -->
</div>